<div class="header header-one">

    <!-- Logo -->
    <div class="header-left active">
        <a href="javascript:void(0);" class="logo logo-normal">
            <img src="~/img/logo.png" alt="">
        </a>
        <a href="javascript:void(0);" class="logo logo-white">
            <img src="~/img/logo-white.png" alt="">
        </a>
        <a href="javascript:void(0);" class="logo-small">
            <img src="~/img/logo-small.png" alt="">
        </a>
    </div>
    <!-- /Logo -->

   

    <!--Signin Button-->

    <!--/Signin Button-->
</div>
