@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Product List</h4>
            <h6>Manage your products</h6>
        </div>
        <div class="page-btn">
            <a href="@Url.Action("Details")" class="btn btn-added">
                <img src="img/icons/plus.svg" class="me-1" alt="img">
                Add  New Product
            </a>
        </div>
    </div>

    @if (TempData["success"] != null)
    {
        <div class="alert alert-success rounded-pill alert-dismissible fade show">
            @TempData["success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-xmark"></i></button>
        </div>
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger rounded-pill alert-dismissible fade show">
            @TempData["error"]
            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-xmark"></i></button>
        </div>
    }
    <!-- /product list -->
    <div class="card" >
        <div class="card-body">
            <!-- /Filter -->
            <div class="table-responsive" >
                <table id="datatableList" class="table mb-0">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>SKU</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Unit</th>
                            <th>Qty</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/js/pages/products.js"></script>
}

