@model InventoryManagement_PRASMM.Models.Taxes

<div class="card mt-2">
	<div class="card-body">

		<div class="row">

			<div class="col-lg-4  col-12">
				@Html.TextBoxFor(a => a.Description, new { @class = "form-control w-100" })
			</div>
			<div class="col-lg-4  col-12">
				@Html.DropDownListFor(a => a.ID, new SelectList(ViewBag.TaxTypes, "ID", "Description"), "Select Tax", new { @class = "IndexReferenceTypeID form-control form-control-sm"})
			</div>
			<div class="col-lg-4  col-12">
				<button type="button" class="btn btn-primary">Search</button>
			</div>

		</div>


	</div>
</div>